﻿@using EmptyApp.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<form method='post' >
    <label>Назва Групи:</label><br />
    <input name='name' /><br />

    <label>ID курсу: </label><br />
    <input name='courseId' value='@ViewBag.courseId'/><br />
    

    <input type='submit' value='Send'  />
</form>
