﻿@using EmptyApp.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<Group>

    <h2>Groups</h2>
    <h4>Count: @Model.Count</h4>

    @foreach(Group group in Model)
    {
        <li title="@group.Name">
           
           <a asp-controller="Student" asp-action="Index" asp-route-groupId="@group.Id">@group.Name ID @group.Id </a><br>
           <a asp-controller="Group" asp-action="Delete" asp-route-id="@group.Id" >Видалити</a>
           <a asp-controller="Group" asp-action="Update" asp-route-id="@group.Id">Змінити</a> <br>
           <br><br>

        </li> 
    }
</ul>

<br>
<a asp-controller="Group" asp-action="Add" asp-route-courseId="@ViewBag.courseId">Додати групу</a>
<a asp-controller="Course" asp-action="Index">Повернутися до курсів</a>