﻿@using EmptyApp.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Group
@{
    string name = Model.Name;
    int? courseId = Model.CourseId;
}

<title>Зміна групи</title>

<h4>Зміна групи "@name"</h4>


<form method='post'>
    <label>Назва групи:</label><br />
    <input name='name' value="@name" /> <br />

    <label> ID курсу: </label><br/>
    <input type='text' name='courseId' value="@courseId" /> <br />

    <input type='submit' value='Send' />
</form>
