﻿<form method='post'>
    <label>Назва Курсу:</label><br />
    <input name='name' /><br />

    <label>Опис курсу:</label><br />
    <textarea type='text' name='description' height="2000"></textarea><br />

    <input type='submit' value='Send'  />
</form>
