﻿@using EmptyApp.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<Course>

<title>Список курсів</title>

<h2>Список навчальних курсів</h2>

<h4>Кількість курсів: @Model.Count</h4>

<ul>
    @foreach (Course course in Model)
    {
        <li title="@course.Description">
            
            <a asp-controller="Group" asp-action="Index" asp-route-id="@course.Id">@course.Name ID @course.Id </a><br>
            <a asp-controller="Course" asp-action="Delete" asp-route-id="@course.Id">Видалити</a>
            <a asp-controller="Course" asp-action="Update" asp-route-id="@course.Id">Змінити</a>
            <br><br>
        </li> 
    }
</ul>

<br>
<a asp-controller="Course" asp-action="Add">Додати курс</a>