﻿@using EmptyApp.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Course
@{
    string name = Model.Name;
    string description = Model.Description;
}

<title>Зміна курсу</title>

<h4>Зміна курсу "@name"</h4>


<form method='post' >
    <label>Назва Курсу:</label><br />
    <input name='name' value="@name" /> <br />

    <label> Опис курсу: </label><br/>
    <input type='text' name='description' value="@description" /> <br />

    <input type='submit' value='Send' />
</form>
