﻿@using EmptyApp.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<form method='post' >
    <label>Ім'я':</label><br />
    <input name='FirstName' /><br />

    <label>Прізвище: </label><br />
    <input name='LastName'/><br />

    <label>ID групи: </label><br />
    <input name='GroupId' value='@ViewBag.groupId'/><br />
    

    <input type='submit' value='Send'  />
</form>
