﻿@using EmptyApp.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Student>

<h2>Список студентів групи </h2>
<h4>Count: @Model.Count</h4>
@foreach (Student student in Model)
{
    <li>
        
        @student.FirstName @student.LastName
        <a asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id">Видалити</a>
        <a asp-controller="Student" asp-action="Update" asp-route-id="@student.Id">Змінити</a> <br>
        <br>
    </li>
    <br>
}
<br>
<a asp-controller="Student" asp-action="Add"            asp-route-groupId="@ViewBag.groupId">Додати студента</a>
<a asp-controller="Student" asp-action="GetCourseIdByGroup" asp-route-groupId="@ViewBag.groupId">Назад до групп</a>