﻿@using EmptyApp.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Student
@{
    string firstName = Model.FirstName;
    string lastName = Model.LastName;
    int? groupId = Model.GroupId;
}

<title>Редагування студента</title>

<h4>Редагування студента "@firstName @lastName"</h4>


<form method='post'>
   <label>Ім'я':</label><br />
    <input name='FirstName' value="@firstName" /><br />

    <label>Прізвище: </label><br  />
    <input name='LastName' value="@lastName" /><br />

    <label>ID групи: </label><br />
    <input name='GroupId' value='@groupId'/><br />


    <input type='submit' value='Send'  />

</form>
